* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content:space-around;
    padding: 1rem;
    /* text-align: center; */
    flex-wrap: wrap;
    align-items: flex-start;  
}


.images{
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: center;
    padding: 6rem;
    
    
}


.imgdown{
    margin-top: 5rem;
    
}

.images img{
    border-radius: 5px;
    box-shadow: 0px 0px 9px  black;
}


.dik{
    transform: rotate(90deg);
    float: right;
    margin-top: 35px;
    font-size: 50%; 
    

}






